[Unit]
Description=Peekl Server
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/peekl-server run
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
